footer{
  display: flex;
  background-color: rgb(18, 18, 18);
  padding: 40px 20px;
  justify-content: center;
  gap: 50px;
  position: relative;
}

@media only screen and (max-width: 708px){
  footer{
    flex-direction: column-reverse;
  }
}

.footer{
  color: rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p{
  text-align: center;
  max-width: 500px;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.social-media img{
  cursor: pointer;
  width: 35px;
  height: auto;
}

.contact-info{
  display: flex;
  gap: 20px;
}

.footer span{
  display: flex;
  align-items: center;
}

.footer span img{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#footer-logo{
  font-size: 26px;
  font-weight: 600;
}

#footer-logo, #footer-info{
  margin: 5px;
}
/*Contact*/
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact p{
  color: rgb(251, 251, 251);
  font-size: 22px;
}

form{
  display: flex;
  flex-direction: column;
}

input, textarea{
  background: none;
  border: none;
  border-bottom: 2px solid rgb(219, 219, 219);
  padding: 10px 5px;
  color: white;
  width: 280px;
}

form button{
  margin: 10px 2px;
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 280px;
}

form button:hover{
  background-color: rgb(226, 225, 225);
}

@media only screen and (max-width: 500px){
  input, textarea, form button{
    width: 90vw;
  }

  .contact-info{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }

  .contact-info p{
    margin: 5px;
  }
}

.copyright{
  position: absolute;
  bottom: 0;
  left: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.copyright a{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.copyright img{
  width: 25px;
}