@media only screen and (max-width: 1220px) {
  .middle-section{
    min-width: 580px;
  }

  .right-section{
    margin-left: 68px
  }
}

@media only screen and (max-width: 1045px) {
  .nav{
    position: relative;
  }

  .middle-section{
    min-width: 300px;
    backdrop-filter: blur(10px);
    padding-top: 60px;
    position: absolute;
    right: 0px;
    left: 45%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 4em;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  .open{
    opacity: 1;
  }

  .non-visible{
    opacity: 0;
  }

  .right-section{
    margin-left: 0px;
    margin-right: -35px;
  }

  .burger{
    display: inline-block;;
  }

  .close-menu #line1{
    transform: translateY(8px) rotate(45deg);
  }
  .close-menu #line2{
    opacity: 0;
  }
  .close-menu #line3{
    transform: translateY(-8px) rotate(-45deg);
  }
}