html{
  scroll-behavior: smooth;
  }
  
body{
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

main{
  min-height: 91vh;
  padding-top: 65px;
  position: relative;
  padding-left: 20px;
}

.empty-cart{
  text-align: center;
  margin-top: 24vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visbility 0.3s;
}

.empty-cart-inactive{
  visibility: hidden;
  opacity: 0;
}

.empty-cart p{
  margin: 10px 15px;
}

.empty-cart p:not(:last-child){
  font-weight: 700;
}

.empty-cart img{
  width: 380px;
  height: auto;
}
@media only screen and (max-width: 420px){
  .empty-cart img{
    width: 70vw;
  }

  .empty-cart{
    font-size: 80%;
  }

  .empty-cart p{
    margin: 5px 10px;
  }
}

/*cart*/
.cart-products-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}

.cart-not-empty{
  opacity: 1;
  visibility: visible;
}

/*cart products*/
.cart-items{
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 10px;
}

.cart-items div:last-child{
  border-bottom: none;
}
.product-card{
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 155px;
  border-bottom: 1px solid rgba(129, 124, 124, 0.797);
  width: 600px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 1100px){
  .product-card{
    width: 50vw;
  }
  .details{
    max-width: 10vw;
  }
}

@media only screen and (max-width: 810px){
  .summary{
    width: 30vw;
  }
}

.product-img{
  margin: auto;
  width: 140px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.info{
  margin: auto 15px;
}

.info p{
  margin: 0;
}
.name-price p:first-child{
  font-weight: 700;
  margin-bottom: 3px;
}

.name-price{
  margin-bottom: 18px;
}

.details{
  font-size: 13px;
  max-width: 350px;
}

.quantity-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

#quantity{
 font-size: 11px;
 padding: 2px;
 cursor: pointer;
}
.details span{
  display: flex;
  justify-content: space-between;
}

.details span:not(:last-child){
  margin-bottom: 4px;
}

.delete-product{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-product img{
  width: 25px;
}

/*summary*/
.summary{
  width: 320px;
  padding: 10px 15px;
}

#summary-title{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(129, 124, 124, 0.797);
}

.summary span, .order-total{
  display: flex;
  justify-content: space-between;
}

.summary-details{
  border-bottom: 1px solid rgba(129, 124, 124, 0.797);
  padding: 12px 0;
}

.summary-details p{
  margin: 9px 0;
}

.summary button{
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 4px;
  border: none;
}

.summary button:hover{
  background-color: rgba(17, 17, 17, 0.832);
}

@media only screen and (max-width: 810px){
  .summary{
    width: 30vw;
  }
}

@media only screen and (max-width: 610px){
  .cart-products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .summary{
    width: 80vw;
  }

  .product-card{
    width: 80vw;
  }

  .cart-items{
    max-height: 100%;
  }
  .details{
    max-width: 45vw;
  }
  .delete-product{
    right: 10px;
    width: 20px;
  }
}

@media only screen and (max-width: 360px){
  .summary{
    width: 85vw;
  }

  .product-card{
    width: 85vw;
    height: 130px;
    grid-template-columns: 110px 1fr;
  }
  .details{
    max-width: 45vw;
  }

  .product-img{
    width: 100px;
    height: 115px;
  }
}

@media only screen and (max-width: 280px){
  .product-card{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 263px;
  }
  .details{
    max-width: 45vw;
  }

  .product-img{
    width: 100px;
  }

  .info{
    margin-top: 7px;
  }

  .delete-product{
    top: 0;
    right: 0;
    width: 20px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 720px){
  .delete-product{
    right: 2px;
    width: 20px;
  }
}