html{
  scroll-behavior: smooth;
  }
  
body{
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

main{
  min-height: 91vh;
  padding-top: 65px;
  position: relative;
  padding-left: 20px;
}

.empty-cart{
  text-align: center;
  margin-top: 24vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visbility 0.3s;
}

.empty-cart-inactive{
  visibility: hidden;
  opacity: 0;
}

.empty-cart p{
  margin: 10px 15px;
}

.empty-cart p:not(:last-child){
  font-weight: 700;
}

.empty-cart img{
  width: 380px;
  height: auto;
}
@media only screen and (max-width: 420px){
  .empty-cart img{
    width: 70vw;
  }

  .empty-cart{
    font-size: 80%;
  }

  .empty-cart p{
    margin: 5px 10px;
  }
}

/*cart*/
.cart-products-container{
}

/*cart products*/
.cart-items{
  max-height: 80vh;
  overflow-y: auto;
}
.product-card{
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 155px;
  border: 1px solid black;
  max-width: 600px;
}

.product-img{
  margin: auto;
  width: 140px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.info{
  margin: auto 15px;
}

.info p{
  margin: 0;
}
.name-price p:first-child{
  font-weight: 700;
  margin-bottom: 3px;
}

.name-price{
  margin-bottom: 18px;
}

.details{
  font-size: 13px;
  max-width: 350px;
}

.quantity-form{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

#quantity{
 font-size: 11px;
 padding: 2px;
 cursor: pointer;
}
.details span{
  display: flex;
  justify-content: space-between;
}

.details span:not(:last-child){
  margin-bottom: 4px;
}

.delete-product{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  cursor: pointer;
}

/*summary*/
.summary{
  width: 40vw;
  padding: 10px 15px;
}

#summary-title{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 1px solid grey;
}

.summary span, .order-total{
  display: flex;
  justify-content: space-between;
}

.summary-details{
  border-bottom: 1px solid grey;
  padding: 12px 0;
}

.summary button{
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 4px;
  border: none;
}

.summary button:hover{
  background-color: rgba(17, 17, 17, 0.832);
}