body{
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

header{
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: black;
}

.title-section{
  font-size: 36px;
  display: flex;
  align-items: center;
}

.title-section p{
  margin-top: 30px;
}

nav{
  font-size: 20px;
  display: flex;
}

.middle-section{
  display: flex;
  flex-direction: row;
  min-width: 680px;
  justify-content: space-between;
}


.right-section{
  margin-left: 88px;
  display: flex;
  column-gap: 16px;
  align-items: center;
  z-index: 100;
}

.cart{
  transition: opacity 0.19s linear;
}

.cart img{
  width: 28px;
  height: 28px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  display: block;
	height: 4px;
	width: 30px;
	margin-bottom: 4px;
	position: relative;
	background: #000000;
	border-radius: 50px;
	z-index: 1;
	transition: transform 0.25s ease-out, opacity 0.15s ease-out;
}

.burger img{
  width: 30px;
  height: 33px;
}