body{
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

header{
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: black;
}

.title-section{
  font-size: 36px;
  display: flex;
  align-items: center;
}

nav{
  font-size: 20px;
  display: flex;
}

.middle-section{
  display: flex;
  flex-direction: row;
  min-width: 680px;
  justify-content: space-between;
}


.right-section{
  margin-left: 88px;
  display: flex;
  column-gap: 16px;
  align-items: center;
  z-index: 100;
}

.cart{
  transition: opacity 0.19s linear;
}

.cart img{
  width: 28px;
  height: 28px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger img{
  width: 30px;
  height: 33px;
}